* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

.base-filter {
  border-radius: 2rem;
  padding: 0.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #d6d1e6;
}

.landing-page {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  height: 100vh;
  width: 100%;
  padding: 2rem;
}
.product-head {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.product-head__right {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.product-solo-thumbnail {
  width: 100%;
  height: fit-content;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 1rem;
}
.product-solo-thumbnail__image {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 187, 187);
  border-radius: 1rem;
}
.product-solo-thumbnail__image img {
  border-radius: 1rem;
}

.ProductCard {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.ProductCard__card {
  width: 306.491px;
  height: 446.105px;
  flex-shrink: 0;
  background-color: #f0f0f0;
  padding: 0.8rem;
  border-radius: 16.522px;
  border: 0.826px solid #ccdaf6;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProductCard__card__image {
  width: 100%;
  height: 177.616px;
  flex-shrink: 0;
  background-color: #f0f0f0;
  border-radius: 0.8rem;
}
.ProductCard__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.ProductCard__card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 1.2rem;
}
.ProductCard__card__content__title {
  color: #18142b;
  text-align: right;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ProductCard__card__content__description {
  color: #514760;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  margin-top: 0.8rem;
}
.ProductCard__card__content__divider {
  width: 100%;
  height: 0.826px;
  background: #d9d9d9;
  margin-top: 1rem;
}
.ProductCard__card__pricetag {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ProductCard__card__pricetag__price {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.ProductCard__card__pricetag__price__text {
  color: #18142b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.ProductCard__card__pricetag__price__tax {
  color: #594f67;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.AddtoCartbtn__button {
  display: flex;
  width: 157px;
  height: 54px;
  justify-content: center;
  align-items: center;
  gap: 8.261px;
  flex-shrink: 0;
  border-radius: 57.828px;
  border: 3.304px solid #f7d148;
  background: #fff8a5;
  color: #18142b;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
