* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "YAS Font", sans-serif !important;
  overflow-x: hidden;
}

.normal-title-txt {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.base-filter {
  border-radius: 2rem;
  padding: 0.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #d6d1e6;
}

.side-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: nowrap;
  font-size: 1rem;
}
.side-bar-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-bar-list a {
  padding: 1rem;
  border: 3px solid linear-gradient(180deg, #0597e5 0%, #0758dd 100%);
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  border-radius: 3rem;
}
.side-bar-list a:not(:last-child) {
  border-right: none;
}
.side-bar-list-item {
  border: 2px solid #80bfe4;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: rgba(24, 20, 43, 0.5);
}
.side-bar-bottom {
  height: 10rem;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.chat-with-us {
  color: #fff;
  border-radius: 5rem;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(180deg, #0597e5 0%, #0758dd 100%);
  display: flex;
  gap: 0.5rem;
}

.landing-page {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 2rem;
}
.product-head {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.product-head__right {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.product-solo-thumbnail {
  width: 100%;
  height: fit-content;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 1rem;
}
.product-solo-thumbnail__image {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 187, 187);
  border-radius: 1rem;
}
.product-solo-thumbnail__image img {
  border-radius: 1rem;
}
